.volSlider {
    z-index: 99999;
    margin-left: 10px;
}

.volDiv {
    display: flex;
    justify-content: space-between;
    color: white;
    /* max-width: 300px; */
    margin: 10px 0px;
    transition: all 0.2s ease;
    filter: drop-shadow(#000 2px 2px 3px);
}

.musicButtons button {
    display: inline-flex;
    align-items: center;

}

.pageturnbtn {
    text-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

/* .soundButtons{
    position: absolute;
    bottom: 70vh;
    left: -10vw;
} */

.three-dot-icon{
    color: white;
}

.music-drop-content{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    gap:10px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;

    border-radius: 10px;
    backdrop-filter: blur(10px) brightness(70%);
    border: 1px solid white;
    filter: drop-shadow(#000 0px 0px 10px);

}

.music-items{
    cursor: pointer !important; 
    color: white;
    padding-left: 10px;
    padding-right: 28px;
    width: 100%;
    height: 30px;
    font-size: 0.95rem;
    font-weight: 500;
}


@media screen and (max-width :76800px) {


    .musicButtons {


        display: flex;
        min-width: 200px;
        max-width: 300px;
        justify-content: space-evenly;
        align-items: center;

        border-radius: 50px;
        backdrop-filter: blur(10px) brightness(70%);
        border: 1px solid white;
        padding: 14px;
        /* box-shadow: 0px 0px 30px #000; */
        filter: drop-shadow(#000 0px 0px 10px);
    }




    .allbuttonsmspg {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .musicButtons button svg {
        font-size: 20px;

    }

}

.volSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #ffffff00, #ffffff);
    outline: none;
    border-radius: 5px;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.youtubeIconBTN {
    background-color: #00000000;
    border: none;
    padding-left: 10px;
}

.youtubeIcon {
    color: red;
    font-size: 30px;
}

.YTembed {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px) brightness(70%);
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    padding-top: 8px;
    max-width: 80vw;
}

.YTembed button {
    /* margin-left: 10px; */
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    width: 30%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: 1px solid white;


}

.YTembed input {
    padding: 5px 8px;
    background-color: #282828;
    color: white;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    outline: 1px solid white;
    width: 70%;

}

.YTembed input::placeholder {
    color: #ccc;
}

.YTembed iframe {
    width: min(80vw, 400px);
    height: 260px;
    margin-top: 25px;
}

.YtcloseBtn svg {
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 50%;
    box-shadow: #000 2px 3px 10px;
    cursor: pointer;
}

.YtcloseBtn svg:hover {
    color: gray;
    background-color: white;
}


.YtcloseBtn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width:768px) {
    .YTembed {
        width: 93vw;
        z-index: 99999;
        padding: 10px ;
        top: 45%;
    }

    .YtcloseBtn svg {
        border: 1px solid white;
        padding: 6px 9px;
        border-radius: 50%;
        box-shadow: #000 2px 3px 10px;
        cursor: pointer;
    }

    .YTembed iframe {
        width: 100%;
        height: 260px;
    }

    .YTembed input,.YTembed button{
        font-size: 15px;
    }
}

.volSlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.soundButtons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.soundButtons button {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    padding: 5px;
    transition: transform 0.2s;
    filter: drop-shadow(#000 2px 2px 2px);
}

.soundButtons button:hover {
    transform: scale(1.1);
}

.soundButtons .active {
    color: #adeaed;
}

.soundButtons .activeIcon {
    color: #31ffbe;
    filter: drop-shadow(#00aeff 0px 0px 5px);
}



.thequote {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: #000 0px 0px 3px;
    color: white;

}

.theauthor {
    text-shadow: #000 0px 0px 3px;
    font-size: 18px;
    color: white;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    .quotediv {
        padding: 10px;
    }

    .thequote {
        font-size: 15px;
    }

    .theauthor {
        font-size: 12px;
    }

    .quotediv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        text-align: center;
        /* max-width: 250px; */
        position: absolute;
        top: 20vh;
        text-shadow: #000 0px 0px 3px;
        width: 100%;
        /* transform: translate(-50%, -50%); */
    }

}

.cube-loader {
    position: relative;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    /* animation: animateCube 4s linear infinite; */
  }
  
  @keyframes animateCube {
    0% {
      transform: rotateX(-30deg) rotateY(0);
    }
  
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    transform-style: preserve-3d;
  }
  
  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
                                       /* width 75px / 2 = 37.5px */
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: linear-gradient(
      to bottom,
      hsl(300, 100%, 0%) 0%,
      hsl(177.27, 21.71%, 32.06%) 5.5%,
      hsl(176.67, 34.1%, 36.88%) 12.1%,
      hsl(176.61, 42.28%, 40.7%) 19.6%,
      hsl(176.63, 48.32%, 43.88%) 27.9%,
      hsl(176.66, 53.07%, 46.58%) 36.6%,
      hsl(176.7, 56.94%, 48.91%) 45.6%,
      hsl(176.74, 62.39%, 50.91%) 54.6%,
      hsl(176.77, 69.86%, 52.62%) 63.4%,
      hsl(176.8, 76.78%, 54.08%) 71.7%,
      hsl(176.83, 83.02%, 55.29%) 79.4%,
      hsl(176.85, 88.44%, 56.28%) 86.2%,
      hsl(176.86, 92.9%, 57.04%) 91.9%,
      hsl(176.88, 96.24%, 57.59%) 96.3%,
      hsl(176.88, 98.34%, 57.93%) 99%,
      hsl(176.89, 99.07%, 58.04%) 100%
    );
  }
  
  .cube-top {
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(330, 3.13%, 25.1%) 0%;
                        /* width 75px / 2 = 37.5px */
    transform: rotateX(90deg) translateZ(37.5px);
    transform-style: preserve-3d;
  }
  
  .cube-top::before {
    content: '';
    position: absolute;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    background: hsl(176.61, 42.28%, 40.7%) 19.6%;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232,
                0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
                0 0 30px #323232,
                0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
  }
  
  .breatheLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .breatheLoader span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .breatheLoader span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .breatheLoader span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .breatheLoader span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .breatheLoader span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .breatheLoader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  