html,
body {
  scroll-behavior: smooth;
}

.chatpage{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: white;
    background-size: cover;
    background-position: center;
}

.dark.chatpage{
    background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
}

.chatpage h1 {
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: 400;
  margin: 30px;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.chatpage main {
  max-width: 500px;
  margin: auto;
  min-height: calc(100vh - 80px);
  position: relative;
  padding-bottom: 100px;
}

.chatpage p {
  background-color: wheat;
  background: rgb(255, 248, 234);
  background: linear-gradient(180deg, rgb(252, 243, 223) 0%, rgba(255, 228, 175, 1) 100%);
  background: #fcd9d7 ;
  /* box-shadow: #0000006d 0px 2px 5px; */
  max-width: 70%;
  padding: 15px;
  border-radius: 10px;
}

.chatpage p span {
  margin: 5px;
}


.chatpage p span:first-child {
  margin-right: 0;
}

.chatpage .user_msg {
  text-align: right;
  margin-left: 30%;
  display: flex;
  flex-direction: row-reverse;
  background: #b8e6f3;

}

.chatpage .hide {
  visibility: hidden;
  display: none;
}

.chatpage form {
  text-align: center;
  display: flex;
  justify-content: center;

}

.chatpage .inputChat {
  position: fixed;
  bottom: 0px;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 100%;
  max-width: 500px;
  background: linear-gradient(to top, white, #00000000);

}

.chatpage form button {
  /* position: absolute;
  right: 0px; */
  height: 40px;
  outline: none;
  border: none;
  background-color: #f5deb2;
  padding: 0px 20px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border: 1px solid black;
  border-left: none;
  font-weight: 600;
}

.chatpage input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid black;
  color: black;
}


.chatpage input:focus {
  outline: none;
  color: black;
}



@media screen and (max-width : 768px) {
  .chatpage h1 {

    font-size: 20px;
  }

  .chatpage p {
    background-color: wheat;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 18px;
    margin-right: 18px;
  }


  .chatpage input {
    width: 70%;
    height: 40px;

    padding: 10px;
    font-size: 13px;
  }

}

.typing-animation {
    display: flex;
  }
  
  .dot {
    animation: dot-animation 1.5s infinite;
  }
  
  @keyframes dot-animation {
    0%, 80%, 100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
  
  .allChatsContainer p {
    margin-bottom: 20px;
  }